/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 .container{
 margin:20px 40px;
 padding: 20px;
 line-height: 30px;
 vertical-align:middle ;
}

 .topimgs img{
     height: 400px;
 }

 .topimgs{
    display: inline-block;
    position: relative;
    padding: 5px;
}

 .hearts{
    background-color: white;
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 5px;
}

.discount {
    background-color: red;
    font-size: 10px;
    padding: 0px 2px;
    position: absolute;
    right: 90%;
    top: 80%;

}

.greeneco{
    background-color: green;
    font-size: 10px;
    padding: 0px 2px;
    position: absolute;
    right: 70%;
    top: 80%;
}

/* fontcolors */

.fwhite{
    color: white;
}


